body{
    font-family: 'Spacegrotesk variablefont wght', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
nav li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
a:hover{
    color: aqua;
}
nav button{
    border: 1px solid black;
    border-radius: 30px;
    background-color: #6e61ff;
    box-shadow: 3px 3px 0 0 #031926;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    line-height: 160%;
    letter-spacing: -0.02em;
    position: relative;



}
header{
    width: 100%;
    display: grid;
    justify-content: center;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#e1{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: orangered;
    transform: rotate(-10deg);
    transform-origin: 0 0 ;
    box-shadow: 3px 3px 0 0 #031926;


}
.event{
    position: relative;
    transform: rotate(20deg);
    transform-origin: 0 0 ;
}
#e2{
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    background-color: orangered;
    transform: rotate(-10deg);
    transform-origin: 0 0 ;

    /* -webkit-transform: (-20deg); */
}
header img {
    height: 50px;
    width: 50px;
    box-shadow: 3px 3px 0 0 #031926;

    border-radius: 50%;
}
.header{
    display: flex;
    align-items: center;
    gap: 10px;

}
.heading2{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#img1{
    position: relative;
    left: 10px;
}
#img2{
position: relative;
}

#img3{
    position: relative;
    right: 20px;
}